*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background-image: linear-gradient(to right, rgb(245, 101, 101) , rgb(99, 99, 245));
	background-image: url("../img/pngtree-tech-contemporary-startup-business-blue-image_627618.jpg");
	background-size: cover;
	
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #a7e245;
	transform: translateX(-30%);
}

.btn-signup {
	color: #a7e245;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #a7e245;
	transform: translateX(30%);
}
h1{
    color: #3b4465;
}
.intro{
	width: 350px;
	background: #f7fafb;
	height: fit-content;
	padding: 10px;
	margin-top: 65git px;
	border-radius: 10px;
}
.main{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/* border: 5px solid red; */
	/* margin: 10px 230px; */
}

.title-head{
	font-size: 32px;
	color: #cddbef;
	text-align: center;
}
.data {
	text-align: center;
	color: #008d80;
	font-size: 20px;
	letter-spacing: 1px;
	font-style: bold;
	font-family: initial;
	}
	.data > img:nth-child(1) {
		border: 2px solid #cd5e28;
		border-radius: 10px;
		padding: 5px;
		}
	.data > p:nth-child(2) {
		border: 2px solid #008d80;
		border-radius: 8px;
		padding: 5px 0;
		line-height: 30px;
		}
	.discription {
		border: 3px solid #625e5edb;
		border-radius: 8px;
		padding: 5px;
		}
		@media screen and (min-width: 751px) {
			.intro{
				margin-right: -15.643vw;
			}
		}
		.center {
			padding: 20px;
			text-align: center;
			border: 5px solid transparent; /* Initial transparent border */
			border-image: linear-gradient(to right, red, green, blue); /* Gradient border */
			border-image-slice: 1;
			border-image-source: linear-gradient(to right, red, green, blue);
			animation: borderAnimation 5s linear infinite alternate;
			border-radius: 5px;
			margin: 10px 230px;
		}
		
		
		@keyframes borderAnimation {
			0% {
				border-image-source: linear-gradient(to right, red, green, blue);
			}
			25% {
				border-image-source: linear-gradient(to right, blue, red, green);
			}
			50% {
				border-image-source: linear-gradient(to right, green, blue, red);
			}
			75% {
				border-image-source: linear-gradient(to right, red, green, blue);
			}
			100% {
				border-image-source: linear-gradient(to right, blue, red, green);
			}
		}
		
		.ayushlogo{
			width: 322px;
			background: #262222;
			height: 150px;
			}
	
			.icon1 {
				margin-left: 0;
				margin-top: -2px;
				display: flex;
				width: 50.21354166666664vw;
				min-width: 280px;
				color: aliceblue;
				justify-content: space-evenly;
				text-align: center;
			}
			
			@media screen and (max-width:768px) {
				.icon1 {
					/* margin-left: 4vw; */
					width: 100%;
					display: flex;
					justify-content: center;
				}
			}
			@media screen and (main-width:400px) {
				
			}
			.fa {
				text-decoration: none;
				border-radius: 20px;
				padding-top: 0.3em;
				padding-left: 0.7em;
				padding-right: 0.7em;
				padding-bottom: 0.9em;
				/* width: 2.8645vw; */
				height: 4.6VW;
				display: inline-flex;
				text-align: center;
				text-decoration: none;
				margin: 5px 2px;
				font-size: inherit;
				font-size: 27px;
				border-width: 0.5vw;
			}
			
			.fa:hover {
				opacity: 0.7;
			}
			
			.fa-facebook {
				border-style: outset;
				border-color: #3B5998;
				color: #3B5998;
			}
			
			.fa-twitter {
				border-color: #55ACEE;
				border-style: outset;
				color: #55ACEE;
			}
			
			.fa-linkedin {
				border-color: #007bb5;
				color: #007bb5;
				border-style: outset;
			}
			
			
			/* .ref2 svg {
				margin-left: auto;
			} */
			
			.fa-youtube {
				border-color: #bb0000;
				color: #bb0000;
				border-style: outset;
			}
			
			.fa-instagram {
				background-image: linear-gradient(to bottom right, red, blue);
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				border-color: #fb39dd;
				border-style: outset;
			}
			
			.fa-envelope {
				background-image: linear-gradient(to bottom right, rgb(219, 37, 37), rgb(227, 168, 237));
				background-clip: text;
				color: transparent;
				border-color: rgb(219, 37, 37);
				-webkit-background-clip: text;
				border-style: outset;
			}
			
			.fa-github {
				border-color: rgb(140, 88, 196);
				border-style: outset;
			}
.sector{
	display: flex;
	justify-content: center;
}